@import './assets/scss/vars';
@import './assets/scss/mixins';

.radio {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &-custom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-gray;
    background: $color-bg;
    margin-right: 15px;
    transition: border-color $speed, background $speed;
  
    .icon {
      opacity: 0;
      color: $color-text-2;
      transition: opacity $speed;
    }

    &:hover {
      background: $color-bg-3;
    }
  }
}


.input-radio {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  &:checked {
    & + .radio-custom {
      border: 1px solid $color-text-2;

      .icon {
        opacity: 1;
      }
    }
  }
}