@import './assets/scss/vars';
@import './assets/scss/mixins';

.input__wrapper {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 0;
}

.input__wrapper.disabled {
    pointer-events: none;
}

.input__wrapper.error .input-error-text {
  display: block;
}

.input-error-text {
  display: none;
  position: absolute;
  top: calc(100% + 3px);
  left: 20px;
  font-size: 10px;
  line-height: 12px;
  color: #EB5757;
}

.main-textarea {
  width: 100%;
  padding: 10px 20px !important;
  border: none;
  background-color: transparent;
  resize: none;
  line-height: 17px;
  border-radius: 20px;
  outline-color: rgba($color-primary, 0.2);
}