@import './assets/scss/vars';
@import './assets/scss/mixins';

.full {
  display: grid;
  grid-gap: 15px;
  color: $color-2;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  grid-gap: 10px;
  align-items: center;

  @include _desktop {
    grid-template-columns: repeat(2, min-content) 1fr;
    grid-gap: 30px;
  }
}

.stars {
  order: 3;

  @include _desktop {
    order: initial;
  }
}

.name {
  font-weight: 500;
  white-space: nowrap;
  color: $color-1;
}

.date {
  color: $color-3;
  text-align: right;
  white-space: nowrap;
  order: 2;

  @include _desktop {
    order: initial;
  }
}

.content {
  line-height: 160%;
}

.review {
  &-adv {
    line-height: 160%;
  }

  &-label {
    font-weight: 500;
    color: $color-1;
  }
}

.approved {
  display: grid;
  grid-template-columns: 24px min-content;
  grid-gap: 6px;
  align-items: center;
  color: $color-dark-green;

  &-icon {
    font-size: 24px;
  }

  &-text {
    white-space: nowrap;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 10px;
  flex-direction: row-reverse;

  @include _desktop {
    justify-content: space-between;
  }

  .button {
    width: initial;

    @include _desktop {
      &:first-of-type {
        order: 2;
      }
    }
  }
}