@import './assets/scss/vars';
@import './assets/scss/mixins';

.account {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 0 -15px;

    @include _desktop {
      grid-template-columns: 1fr 3fr;
      grid-gap: 30px;
      width: 100%;
      margin:0;
    }
  }

  &-page {
  }

  &-container {
    overflow-x: initial;

    @include _desktop {
      overflow-x: hidden;
    }
  }

  &-breadcrumbs {
    margin: 0 15px;
    order: 2;

    @include _desktop {
      order: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.content {
  order: 3;
  padding: 15px;
  background: $color-8;
  border-radius: $radius;

  @include _desktop {
    padding: 30px;
  }
}

.aside {
  position: sticky;
  top: 60px;
  order: 1;
  height: min-content;
  padding: 10px 0 10px 10px;
  overflow: hidden;
  z-index: 100;
  background: $color-11;
  border-top: 1px solid $color-8;
  color: $color-8;

  @include _desktop {
    padding: 30px 30px 15px 30px;
    border-radius: $radius;
    border-top: 0;
    z-index: 1;
  }
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 60px;
  margin: -10px 0;
  border-left: 1px solid $color-11;

  &-icon {
    font-size: 24px;
    color: $color-4;
  }
}

.profile {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-gap: 20px;
  align-items: center;

  @include _desktop {
    grid-template-columns: 70px 1fr;
  }

  &-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: $radius;
    overflow: hidden;

    @include _desktop {
      width: 70px;
      height: 70px;
    }
  }

  &-data {
    display: grid;
    grid-gap: 5px;
    font-size: 14px;
    line-height: 100%;

    @include _desktop {
      grid-gap: 10px;
    }
  }

  &-name {
    text-transform: uppercase;
  }

  &-email {
    font-size: 12px;
    color: $color-3;

    @include _desktop {
      font-size: 16px;
    }
  }
}


.menu {
  &-wrapper {
    margin: 15px 0 0 0;
  }

  &-ul {
    display: grid;
    grid-gap: 5px;
    padding: 15px 0;
    border-bottom: 1px solid $color-2;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-li {
  }

  &-link {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px 15px;
    border-radius: $radius;
    color: $color-8;
    transition: background $speed;

    &:hover {
      background: $color-11;
    }

    &.router-link-active  {
      background: $color-11;
    }
  }

  &-icon {
    font-size: 20px;
  }

  &-title {

  }
}