@import './assets/scss/vars';
@import './assets/scss/mixins';

.product {
  width: 100%;

  &-inner {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
  }
}

.image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid $color-6;
  border-radius: $radius;
}

.body {
  position: relative;
  display: grid;
  grid-template-rows: 12px 1fr;
  grid-gap: 5px;
  width: 100%;

  @include _desktop {
    grid-template-rows: min-content min-content;
  }

  .code {
    font-size: 10px;
    text-transform: uppercase;

    @include _desktop {
      font-size: 12px;
    }

    .value {
      color: $color-3;
      // font-weight: 500;
      // font-size: 14px;
    }
  }

  .name {
    display: -webkit-box;
    overflow: hidden;
    height: 65px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 140%;


    @include _desktop {
      height: 44px;
      font-size: 16px;
      -webkit-line-clamp: 2;
    }
  }
}


.price {
  &-block {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 10px;
    align-items: baseline;
    margin: 10px 0 0 0;
  }

  &-base {
    :deep(.value) {
      font-size: 16px;
      color: $color-0;
    }
  }

  &-old {
    :deep(.value) {
      font-size: 12px;
      font-weight: 400;
      color: $color-3;
      text-decoration: line-through;
    }

    + .price-base {
      :deep(.value) {
        color: $color-red;
      }
    }
  }
}