@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 50px;

  @include _desktop {
    grid-template-columns: calc(70% - 45px) calc(30% - 45px);
    grid-gap: 90px;
  }
}

.review {
  &-card {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-6;

    &:last-child {
      margin-bottom: 0;
    }

    @include _desktop {
      margin-bottom: 50px;
      border-bottom: 0;
    }
  }
}

.feedback {
  &-info {
    width: 100%;
    margin: 30px 0 0 0;
    padding: 20px;
    border-radius: 4px;
    background: $color-7;
    line-height: 160%;
  }
}