@import './assets/scss/vars';
@import './assets/scss/mixins';

.catalog {
  display: grid;
  grid-template-columns: 100%;
  margin: -30px -20px -30px -20px;

  @include _desktop {
    grid-template-columns: 345px 1fr;
    margin: -50px 0 -50px -50px;
  }
}

.category {
  &-wrapper {
    display: none;
    height: calc(100%);
    overflow-y: auto;
    padding: 30px 20px 30px 20px;
    background: $color-7;

    @include _scrollbar;

    @include _desktop {
      display: block;
      padding: 30px 0 30px 30px;
    }

    &.mobile-active {
      display: block;
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 120%;

    @include _desktop {
      margin: 0 0 20px 0;
      padding-right: 45px;
    }

    &:last-of-type {
      margin: 0;
    }

    &.active {
      color: $color-primary;
    }
  }

  &-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 15px 0 0;
    border-radius: $radius;
  }

  &-name {
    text-transform: uppercase;
    font-size: 12px;

    @include _desktop {
      font-size: 14px;
    }
  }

  &-icon {
    position: absolute;
    right: 10px;
    font-size: 24px;
  }
}

.sub {
  &-header {
    position: sticky;
    top: -30px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 40px) 1fr;
    align-items: center;
    padding: 10px 50px 10px 0;
    margin: 0 0 20px 0;
    width: calc(100% + 30px);
    background: $color-7;

    @include _desktop {
      display: none;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }

  &-title {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 12px;
  }

  &-wrapper {
    position: relative;
    display: none;
    padding: 0 20px 30px 0;

    @include _desktop {
      display: block;
      columns: 3;
      padding: 30px 0;
    }

    &.mobile-active {
      display: block;
    }
  }

  &-item {
    display: block;
    margin: 0 0 20px 20px;
    text-transform: uppercase;
    line-height: 130%;
    font-size: 12px;

    @include _desktop {
      margin: 0 0 10px 30px;
      font-size: 14px;
    }
  }
}

.last {
  margin: 0 0 30px 20px;

  @include _desktop {
    margin: 0 0 10px 30px;
  }

  &-link {
    display: block;
    margin: 0 0 10px 0;
    color: $color-3;
  }
}