# Excluded files
/.docker
/.idea
/.vscode
/.git
/bootstrap/cache/*
/storage/app/*
/storage/framework/views/*
/storage/logs/*
/tests
/vendor
/redis
/mysql
.dockerignore
.editorconfig
.env.*
.editorconfig
.gitattributes
.gitignore
docker-compose.*.yml
docker-compose.yml
Makefile

# Included files
!/.docker/*/base/conf.d
!/.docker/*/base/php.ini
!/.docker/*/gateway/conf.d
!/.docker/*/gateway/nginx.conf
!/.docker/*/dashboard/conf.d
!/.docker/*/dashboard/php-fpm.d
!/.docker/*/mysql/
!/.docker/*/schedule/cron.d
!/.docker/*/nginx/nginx.conf
!/.docker/*/nginx/snippets
!/.docker/*/nginx/sites-internal
!/.docker/*/nginx/sites-enabled
!/.docker/*/nginx/fastcgi_params
!/src/api/public