/storage
/storage_api
/storage_dashboard
/public
/mysql
/redis
/proxy_logs
.env
.env.prod
.env.dev
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
