version: '0.1'

name: djini

services:
  nginx:
    build:
      context: .docker/dev/nginx
      dockerfile: Dockerfile
    volumes:
      - ./src/api/public:/var/www/html/public:ro
      - .docker/dev/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      # - .docker/dev/nginx/snippets:/etc/nginx/snippets:ro
      - .docker/dev/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - .docker/dev/nginx/ssl:/etc/nginx/ssl:ro
    container_name: djini_nginx
    hostname: nginx
    ports:
      - "9001:9000"
    networks:
      - api
    depends_on:
      # - api
      - dashboard

  image-selector:
      build:
        dockerfile: .docker/dev/image-selector/Dockerfile
      volumes:
      - ./src/image-selector:/app
      ports:
        - "8888:8000"
      networks:
        - api
  libretranslate:
    image: libretranslate/libretranslate
    container_name: libretranslate
    # ports:
    #   - "5000:5000"
    restart: unless-stopped
    environment:
      - LT_LOAD_ONLY=ru,en,uk
    volumes:
      - libretranslate_models:/home/libretranslate/.local
    networks:
      - api

  dashboard:
    build:
      dockerfile: .docker/dev/dashboard/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
        MY_USER: ${MY_USER}
        MY_UID: ${MY_UID}
    volumes:
      - ./src/api:/var/www/html
      # - mysql:/var/www/html/certs
      # - mysql/client-key.pem:/var/lib/mysql/client-key.pem
      # - mysql/client-cert.pem:/var/lib/mysql/client-cert.pem
      # - mysql/ca.pem:/var/lib/mysql/ca.pem
    container_name: djini_dashboard
    hostname: dashboard
    ports:
      - "9000:9000"
    networks:
      - api
    restart: unless-stopped
    depends_on:
      - mysql
    working_dir: /var/www/html

  api:
    build:
      dockerfile: .docker/dev/api/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
        MY_USER: ${MY_USER}
        MY_UID: ${MY_UID}
    volumes:
      - ./src/api:/var/www/html
    container_name: djini_api
    hostname: api.local
    ports:
      - "8000:8000"
    networks:
      - api
    restart: unless-stopped
    depends_on:
      - mysql
    working_dir: /var/www/html

  # frontend:
  #   build:
  #     dockerfile: .docker/dev/frontend/Dockerfile
  #   volumes:
  #     - ./src/frontend:/var/www/html
  #     - /var/www/html/node_modules
  #   hostname: frontend
  #   container_name: frontend
  #   tty: true
  #   ports:
  #     - "3000:3000"
  #     - "24678:24678"
  #   networks:
  #     - api
  #   restart: unless-stopped
  #   # depends_on:
  #   #   - api
  #   command: npm run dev

  mysql:
    build:
      dockerfile: .docker/dev/mysql/Dockerfile
    container_name: djini_mysql
    hostname: mysql
    tty: true
    ports: 
        - "3307:3306"
    volumes: 
        # - mysql:/var/lib/mysql
        # - ./mysql/logs:/var/log/mysql
        - ./mysql/lib:/var/lib/mysql
        - ./mysql/logs:/var/log/mysql
        - ./mysql/dumps:/var/dumps
    environment: 
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}
        MYSQL_ROOT_PASSWORD: root
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
    networks:
      - api
    restart: unless-stopped

  phpmyadmin:
    build:
      dockerfile: .docker/dev/phpmyadmin/Dockerfile
    restart: always
    container_name: djini_phpmyadmin
    hostname: phpmyadmin
    ports:
      - 8080:80
    environment:
      PMA_HOST: mysql
      PMA_ARBITRARY: 1
    networks:
      - api
    depends_on:
      - mysql
  
  redis:
    build:
      dockerfile: .docker/dev/redis/Dockerfile
    volumes:
      - redis:/data
    ports:
      - "6379:6379"
    networks:
      - api

  queue:
    build:
      dockerfile: .docker/dev/queue/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
    volumes:
      - ./src/api:/var/www/html
    depends_on:
      - redis
      - mysql
    networks:
      - api
    restart: always

# DAILY
  # backup_daily:
  #   build:
  #     dockerfile: .docker/dev/backup/Dockerfile
  #   depends_on:
  #     - mysql  
  #   networks:
  #     - api
  #   environment:
  #     LOCAL_PATH: /var/www/html/public
  #     DB_USER: ${DB_USERNAME}
  #     DB_HOST: ${DB_HOST}
  #     DB_PASS: ${DB_PASSWORD}
  #     DB_NAME: ${DB_DATABASE}
  #     FTP_PROTO: ftp
  #     FTP_PORT: ${BACKUP_FTP_PORT}
  #     FTP_HOST: ${BACKUP_FTP_HOST}
  #     FTP_USER: ${BACKUP_FTP_USERNAME}
  #     FTP_PASS: ${BACKUP_FTP_PASSWORD}
  #     REMOTE_PATH: ${BACKUP_FTP_ROOT}
  #   volumes:
  #     - ./src/api/public:/var/www/html/public:ro

  # backup_cleanup_daily:
  #   image: ambroisemaupate/ftp-cleanup
  #   environment:
  #     FTP_PROTO: ftp
  #     FTP_PORT: ${BACKUP_FTP_PORT}
  #     FTP_HOST: ${BACKUP_FTP_HOST}
  #     FTP_USER: ${BACKUP_FTP_USERNAME}
  #     FTP_PASS: ${BACKUP_FTP_PASSWORD}
  #     STORE_DAYS: 7
  #     FTP_PATH: ${BACKUP_FTP_ROOT}
      
volumes:
  backups:
    driver: local
    
  mysql:
    driver: local

  redis:
    driver: local
  
  libretranslate_models:
    driver: local

networks:
  api:
    name: api
    driver: bridge

  nginx:
    name: nginx
    driver: bridge