version: '0.1'

name: vivadzen

services:
  nginx:
    build:
      context: .docker/dev/nginx
      dockerfile: Dockerfile
    volumes:
      - ./src/api/public:/var/www/html/public:ro
      - .docker/dev/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - .docker/dev/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    container_name: vivadzen_nginx
    hostname: nginx
    ports:
      - "9001:9000"
    networks:
      - api
    depends_on:
      # - api
      - dashboard

  image-selector:
      build:
        dockerfile: .docker/dev/image-selector/Dockerfile
      volumes:
      - ./src/image-selector:/app
      ports:
        - "8888:8000"
      networks:
        - api
  libretranslate:
    image: libretranslate/libretranslate
    container_name: libretranslate
    ports:
      - "5001:5000"
    restart: unless-stopped
    environment:
      - LT_LOAD_ONLY=ru,en,uk
    volumes:
      - libretranslate_models:/home/libretranslate/.local
    networks:
      - api

  dashboard:
    build:
      dockerfile: .docker/dev/dashboard/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
        MY_USER: ${MY_USER}
        MY_UID: ${MY_UID}
    volumes:
      - ./src/api:/var/www/html
    container_name: vivadzen_dashboard
    hostname: dashboard
    ports:
      - "9000:9000"
    networks:
      - api
    restart: unless-stopped
    depends_on:
      - mysql
    working_dir: /var/www/html

  api:
    build:
      dockerfile: .docker/dev/api/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
        MY_USER: ${MY_USER}
        MY_UID: ${MY_UID}
    volumes:
      - ./src/api:/var/www/html
    container_name: vivadzen_api
    hostname: api.local
    ports:
      - "8000:8000"
    networks:
      - api
    restart: unless-stopped
    depends_on:
      - mysql
    working_dir: /var/www/html


  proxy:
    build:
      dockerfile: .docker/dev/proxy/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
    deploy:
      replicas: 1
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - api

  mysql:
    build:
      dockerfile: .docker/dev/mysql/Dockerfile
    container_name: vivadzen_mysql
    hostname: mysql
    tty: true
    ports: 
        - "3307:3306"
    volumes: 
        - ./mysql/lib:/var/lib/mysql
        - ./mysql/logs:/var/log/mysql
        - ./mysql/dumps:/var/dumps
    environment: 
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}
        MYSQL_ROOT_PASSWORD: root
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
    networks:
      - api
    restart: unless-stopped

  phpmyadmin:
    build:
      dockerfile: .docker/dev/phpmyadmin/Dockerfile
    restart: always
    container_name: vivadzen_phpmyadmin
    hostname: phpmyadmin
    ports:
      - 8080:80
    environment:
      PMA_HOST: mysql
      PMA_ARBITRARY: 1
    networks:
      - api
    depends_on:
      - mysql
  
  redis:
    build:
      dockerfile: .docker/dev/redis/Dockerfile
    volumes:
      - redis:/data
    ports:
      - "6379:6379"
    networks:
      - api

  queue:
    build:
      dockerfile: .docker/dev/queue/Dockerfile
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_TAG: ${IMAGE_TAG}
    volumes:
      - ./src/api:/var/www/html
    depends_on:
      - redis
      - mysql
    networks:
      - api
    restart: always

  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - api
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - 9200:9200
    restart: unless-stopped

  meilisearch:
    image: getmeili/meilisearch:v1.11
    environment:
      MEILI_ENV: "development"
    ports: ["7700:7700"]
    volumes:
      - meili_data:/meili_data

      
volumes:
  meili_data:

  opensearch-data:
    driver: local

  backups:
    driver: local
    
  mysql:
    driver: local

  redis:
    driver: local
  
  libretranslate_models:
    driver: local

networks:
  api:
    name: api
    driver: bridge

  nginx:
    name: nginx
    driver: bridge