.product-admin-name {
  position: relative;
  font-size: 14px;
}

.product-admin-name--needs-moderation {
  padding: 5px 15px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.product-admin-name__moderation-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.product-admin-name__tags {
  font-size: 14px;
  margin-left: -10px;
}

.product-admin-name__title {
  font-size: 17px;
  margin-bottom: 5px;
}

.product-admin-name__metadata {
  font-size: 14px;
}

.product-admin-name__metadata-label {
  opacity: 0.6;
}