@import './assets/scss/vars';
@import './assets/scss/mixins';

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  padding: 70px 0 0 0;
  background: $color-8;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.nav {
  margin: 0 0 30px 0;

  &.categories {
    font-weight: 600;
  }

  &-item {

  }

  &-link {
    display: block;
    padding: 10px 30px;
    text-transform: uppercase;
  }

  &-container {
    overflow-y: auto;
  }
}



.close-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-6;
}


.langs {
  display: flex;
  padding: 30px 15px;
  margin-top: auto;
  background: $color-6;
  border-top: 1px solid $color-7;
}

.language {

  &-link {
    padding: 15px;

    &.selected {
      color: $color-green;
    }
  }

  &-name {
    margin: 0 5px 0 0;
  }
}