@import './assets/scss/vars';
@import './assets/scss/mixins';

.dark {
  :deep(.close-btn-inner) {
    background: $color-text-2;
    color: $color-bg;
  }

  :deep(.modal-inner) {
    background: $color-text-2;
  }
}

.menu {
  margin: 30px -15px 10px -15px;
}

.lang {
  margin: 20px 0 0 0;
  :deep(.name) {
    margin-left: 15px;
    color: $color-bg;
    font-weight: 300;
    font-size: 16px;
  }
}