@import './assets/scss/vars';
@import './assets/scss/mixins';

.rich-text,
:deep(.rich-text) {
  font-size: 16px;
  color: $color-0;
  line-height: 180%;

  h6 {
    font-size: 14px;
    color: #fff;
  }

  ul {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-0;
      }

    }
  }

  ol {
    padding-left: 15px;
    margin-bottom: 20px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: $color-0;
    font-weight: 500;
    line-height: 115%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include _desktop {
      margin-top: 40px;
      line-height: 145%;
    }
  }
   
  h2{
    margin: 40px 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 15px;

    @include _desktop {
      margin-top: 40px;
    }
  }
  
  p {
    margin-bottom: 20px;
    line-height: 165%;
    color: $color-2;
  }
}