@import './assets/scss/vars';
@import './assets/scss/mixins';
@import './assets/scss/rich-text';

.selected {
  display: none;

  @include _tablet {
    position: sticky;
    top: 80px;
    width: 100%;
    min-height: 50px;
    z-index: 10;
    background: $color-8;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-top: 1px solid $color-6;
    border-bottom: 1px solid $color-6;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 0 15px 0;

  @include _desktop {
    grid-template-columns: 1fr 2fr 2fr;
    margin: 30px 0 15px 0;
  }

  &-title {
    display: none;

    @include _desktop {
      display: block;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &-desc {
    color: $color-3;
  }

  &-actions {
    display: none;

    @include _desktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  .sorting{
    &-wrapper {
      position: relative;
    }

    &-btn {
      border: 1px solid $color-4;
      background: $color-8;
      pointer-events: none;
    }

    &-select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

}

.content {
  display: grid;
  grid-template-columns: 1fr;

  @include _desktop {
    grid-template-columns: 1fr 4fr;
  }

  &-inner {
    display: grid;
    grid-gap: 20px;
    justify-items: flex-end;
  }
  
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;

    @include _tablet {

    }

    @include _desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      height: min-content;
      border-right: 1px solid $color-6;
    }
  }
}

.filters {
  display: none;

  @include _desktop {
    display: block;
  }
}

.pagination {
  margin: 40px 0 50px 0;
  justify-content: flex-end;
}