@import './assets/scss/vars';
@import './assets/scss/mixins';

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 36px;
  height: calc(100% - 2px);
  background: $color-8;
  border-radius: 20px;
  padding: 5px 0;
  overflow: hidden;
  transition: width $speed, background $speed;

  &.active {
    width: 100%;
    background: $color-red;

    .error-text {
      padding: 0 0 0 15px;
    }

    .error-icon {
      color: $color-8;
    }
  }

  &-text {
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    color: $color-8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 130%;
    transition: padding $speed $speed;

    &:hover {
      white-space:normal;
      background: $color-red;
      animation: blick $speed-slow;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    transition: opacity $speed-fast;
    flex-shrink: 0;

    &:hover {
      opacity: 0.65;
    }
  }

  &-icon {
    color: $color-red;
  }
}

@keyframes blick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}