@import './assets/scss/vars';
@import './assets/scss/mixins';

.thx {
  text-align: center;

  @include _tablet {
    text-align: left;
  }
}

.lottie-wrapper {
  width: 140px;
  height: 152px;
  margin-bottom: 25px;
  margin: 0 auto;

  @include _desktop {
    margin: initial;
  }
}

.title {
  margin-bottom: 5px;
  font-weight: 600;
}

.desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 145%;
  color: $color-3;
}

.line {
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background: $color-6;
}