@import './assets/scss/vars';
@import './assets/scss/mixins';

.form-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  margin: 35px 0;

  .textarea {
    
    :deep(.main-textarea) {
      width: calc(100% + 30px);
      margin: 0 -15px 0 -15px;
      padding: 20px 15px !important;
      font-size: 16px;

      @include _desktop {
        width: 100%;
        margin: 0;
      }
    }

    &.red {
      :deep(.main-textarea) {
        background: scale-color($color-red, $lightness: 90%);
      }
    }

    &.orange {
      :deep(.main-textarea) {
        background: scale-color($color-orange, $lightness: 90%);
      }
    }

    &.yellow {
      :deep(.main-textarea) {
        background: scale-color($color-yellow, $lightness: 90%);
      }
    }

    &.green {
      :deep(.main-textarea) {
        background: scale-color($color-green, $lightness: 90%);
      }
    }

    &.cyan {
      :deep(.main-textarea) {
        background: scale-color($color-cyan, $lightness: 90%);
      }
    }

    &.blue {
      :deep(.main-textarea) {
        background: scale-color($color-blue, $lightness: 90%);
      }
    }

    &.purple {
      :deep(.main-textarea) {
        background: scale-color($color-purple, $lightness: 90%);
      }
    }

    &.pink {
      :deep(.main-textarea) {
        background: scale-color($color-pink, $lightness: 90%);
      }
    }
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}