@import './assets/scss/vars';
@import './assets/scss/mixins';

.buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  grid-gap: 15px;
  width: calc(100% + 50px);
  margin: 0 -25px 0 -25px;
  padding: 10px 25px 30px 25px;
  transform: translateY(30px);
  background: $color-bg;
  z-index: 1;
}

.collapse-btn {
  display: none;
  @include _desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    z-index: 2;
    border-radius: $radiusBtn;
    color: $color-text-5;
    background: $color-bg;
    transition: color .3s, background .3s;
  
    &:hover {
      color: $color-text;
      background: $color-bg-2;
    }
  }
}