@import './assets/scss/vars';
@import './assets/scss/mixins';

.article {
  &-card {
    overflow: hidden;
    padding: 20px;
    border: 1px solid $color-5;

    @include _tablet {
      padding: 30px;
    }

    &:hover {
      .article-image {
        filter: grayscale(1);
        transform: scale(1.1);
      }

      .article-title {
        color: $color-green;
      }
    }
  }

  &-image {
    max-width: initial;
    width: calc(100% + 40px);
    height: 160px;
    margin: -20px -20px 20px -20px;
    object-fit: cover;
    object-position: center;
    transition: transform .6s, filter .6s;

    @include _tablet {
      width: calc(100% + 60px);
      margin: -30px -30px 30px -30px;
    }

    @include _desktop {}
  }

  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 80px;
    font-size: 14px;
    line-height: 140%;
    color: $color-1;
    transition: color .6s;

    @include _tablet {
      height: 110px;
      font-size: 18px;
    }
    
    @include _desktop {
      height: 140px;
      font-size: 20px;
    }
  }

  &-time {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    color: $color-4;

    .label {
      padding-left: 5px;
      font-size: 14px;
    }
  }
}