@import './assets/scss/vars';
@import './assets/scss/mixins';

.popup {
  &::-webkit-scrollbar {
    display: none;
  }

  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.45);
    z-index: 100;

    @include _tablet {
      z-index: 95;
    }
  }
}

.effect-1 {
  transition: transform $speed-fast, filter $speed-fast, opacity $speed-fast;
}

.effect-2 {
  transition: transform $speed-fast, filter $speed-fast, opacity $speed-fast;
}