@import './assets/scss/vars';
@import './assets/scss/mixins';

.input__wrapper {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 17px;

  &.disabled {
    pointer-events: none;

    input {
      pointer-events: none;
    }
  }

  &.error {
    :deep(.placeholder) {
      color: $color-red;
    }
  }
}

.main-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  outline-color: rgba($color-green, 0.2);
  color: $color-0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    padding-bottom: 0;
    border-radius: 100%;
    background: $color-8;
    z-index: -1;
    transition: width $speed, padding $speed;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: $color-8;
    z-index: -2;
  }
}

.main-input:-webkit-autofill,
.main-input:-webkit-autofill:hover,
.main-input:-webkit-autofill:focus,
.main-input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #333333 inset;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 2500000s ease-in-out 0s;
}
.main-input:disabled + .custome-placeholder__wrapper {
  opacity: 0.6;
}