@import './assets/scss/vars';
@import './assets/scss/mixins';

.create-btn {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  width: calc(100% + 30px);
  padding: 25px;
  margin: 0 -15px -15px -15px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  color: $color-primary;
  background: rgba($color-primary, 0.1);

  .name {
    border-bottom: 1px dashed $color-primary;
  }
}

.mobile-list {
  margin: 0 -15px;
}

.select-btn {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 10px;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: $radiusBtn;
  background: $color-bg-2;

  .image {
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
}

.name {
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content:flex-start;
  grid-gap: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: -10px;
  font-size: 12px;
  font-weight: 500;
}

.status {
  &.active {
    color: $color-green;
  }
}

.selected{
  color: $color-text-6;
}