@import './assets/scss/vars';
@import './assets/scss/mixins';

.dark {
  :deep(.close-btn-inner) {
    background: $color-text-2;
    color: $color-bg;
  }

  :deep(.modal-inner) {
    background: $color-text-2;
  }


  .profile {
    .name {
      color: $color-bg;
    }
    
    .email {
      color: $color-text-5;
    }
  }

  .menu {
    :deep(.menu-link) {
      color: $color-bg;
    }
  }

  .logout-btn {
    color: $color-bg;

    .icon {
      &-wrapper {
        background: $color-text-3;
      }
    }
  }
}

.wide-hr {
  width: 100%;
  margin: 0;
  border-color: $color-bg-3;
}

.menu {
  margin: 30px -15px 10px -15px;

  :deep(.menu-link) {
    color: $color-text;

    &:hover {
      background: $color-bg-2;
    }
  }
}

.lang {
  margin: 20px 0 0 0;
  :deep(.name) {
    margin-left: 15px;
    color: $color-bg;
    font-weight: 300;
    font-size: 16px;
  }
}

.profile {
  display: flex;
  align-items: center;
  grid-gap: 15px;

  .image {
    width: 60px;
    height: 60px;
    border-radius: $radiusBtn;
  }

  .name {
    font-weight: 500;
  }

  .email { 
    margin-top: 5px;
    color: $color-text-6;
    font-size: 14px;
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  margin: 15px 0 0 0;
  transition: color .3s;

  &:hover {
    color: $color-red;
  }

  .icon {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: $radiusBtn;
      background: $color-bg-2;
    }
  }

  .name {
    font-size: 16px;
  }
}