@import './assets/scss/vars';
@import './assets/scss/mixins';

.product-box {
  width: calc(100% + 30px);
  margin: 0 -15px;
  padding: 30px 20px;
  border-top: 1px solid $color-5;
  border-bottom: 1px solid $color-5;

  @include _desktop {
    width: 100%;
    margin: 0;
    padding: 30px;
    border: 1px solid $color-5;
    border-radius: $radius;
  }

  &-label {
    margin-bottom: 10px;
    color: $color-3;

    @include _desktop {
      margin-bottom: 20px;
    }
  }
}