@import './assets/scss/vars';
@import './assets/scss/mixins';

.dropdown {
  position: relative;
}

.chevron {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;

  .icon {
    color: $color-3;
    transition: transform $speed;
  }

  &.active {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.list {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 0;
  
  @include _tablet {
    padding-right: 10px;
  } 

  @include _scrollbar;
  // &::-webkit-scrollbar {
  //   width: 5px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: $color-green;

  //   &:hover {
  //     background: darken($color-green, 7%)
  //   }
  // }

  &-wrapper {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    padding: 0 5px 0 15px;
    border-radius: $radius;
    background: $color-6;
    border: 2px solid $color-6;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    z-index: 10;

    @include _tablet {
      padding: 0 5px 0 15px;
    }

    .no-results {
      padding: 12px 14px;
      color: $color-3;

      @include _tablet {
        padding: 12px 0;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 5px;
    margin: 5px 0 0 0;
    border: 1px solid $color-5;
    // border-bottom: 1px solid $color-8;
    background: $color-8;
    border-radius: $radius;
    line-height: 135%;
    font-size: 14px;
    color: $color-1;
    cursor: pointer;
    transition: background $speed, border $speed, color $speed;

    &:first-child {
      margin: 15px 0 0 0;
    }

    &:last-child {
      margin: 5px 0 15px 0;
      border-bottom: 1px solid $color-5;
    }

    .icon {
      flex-shrink: 0;
      margin-right: 5px;
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity $speed, transform $speed;
    }

    &:hover {
      color: $color-green;
      border: 1px solid $color-green;
      // background: rgba($color-green, 0.05);

      .icon {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}