@import './assets/scss/vars';
@import './assets/scss/mixins';

.dropdown {
  position: relative;
}

.chevron {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;

  .icon {
    color: $color-3;
    transition: transform $speed;
  }

  &.active {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.list {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 0;
  
  @include _tablet {
    padding-right: 15px;
  } 

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-3;

    &:hover {
      background: darken($color-3, 7%)
    }
  }

  &-wrapper {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    padding: 18px 0 18px 0px;
    border-radius: 22px;
    background: $color-7;
    border: 1px solid $color-3;
    z-index: 10;

    @include _tablet {
      padding: 18px 15px 18px 30px;
    }

    .no-results {
      padding: 12px 14px;
      color: $color-3;

      @include _tablet {
        padding: 12px 0;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid $color-3;
    line-height: 135%;
    font-size: 14px;
    color: $color-3;
    cursor: pointer;
    transition: fontWeight $speed, border $speed, color $speed;

    &:last-child {
      border-bottom: 0;
    }

    .icon {
      margin-right: 5px;
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity $speed, transform $speed;
    }

    &:hover {
      color: $color-3;
      border-bottom: 1px solid darken($color-3, 55%);

      .icon {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}