@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  position: fixed;
  right: 15px;
  top: 65px;
  width: calc(100% - 30px);
  z-index: 110;

  @include _tablet {
    top: 85px;
    width: 300px;
  }
}

.noty {
  position: relative;
  margin-bottom: 15px;
  padding: 30px;
  background: $color-8;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
}

.message{
  color: $color-0;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-7;
  transition: background $speed, color $speed;
  color: $color-2;

  &:hover {
    background: darken($color-7, 2%);
    color: darken($color-2, 10%);
  }
}