@import './assets/scss/vars';
@import './assets/scss/mixins';

.placeholder {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  color: $color-4;

  &__text {
    height: 100%;
    width: auto;
    border-color: inherit;
    border: 1px solid;
    border-left: none;
    border-right: none;
    color: inherit;
  }

  &__before {
    width: 20px;
    flex-shrink: 0;
    border-color: inherit;
    border: 1px solid;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &__after {
    width: 20px;
    flex-shrink: 0;
    flex-grow: 1;
    border-color: inherit;
    border: 1px solid;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.disabled {
    pointer-events: none;
    color: #828282;

    * {
      pointer-events: none;
    }
  }

  &.active {
    color: $color-0;

    .placeholder__text {
      border-top: none;
      
      .inner-text {
        position: relative;
        top: 0;
        color: $color-3;
        transform: translateY(-50%);
        font-size: 10px;
        background: $color-8;
        border-radius: 10px;
        border: 1px solid $color-8;
      }
    }
  }
}

.inner-text {
  display: inline-block;
  position: relative;
  top: 50%;
  padding: 0 5px;
  margin-left: -5px;
  transform: translateY(-50%);
  border: 1px solid $color-8;
  border-radius: 0;
  line-height: 145%;
  transition: color $speed, top $speed-fast, border $speed, border-radius $speed;
}