@import './assets/scss/vars';
@import './assets/scss/mixins';
@import './assets/scss/rich-text';

.header {
  display: none;

  @include _tablet {
    position: sticky;
    top: 80px;
    width: 100%;
    height: 50px;
    z-index: 10;
    background: $color-7;
    display: flex;
    align-items: center;

    &-inner {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-gap: 30px;
    }
  }
}

.sorting-btn {
  border: 1px solid $color-4;
  background: $color-8;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;

  @include _desktop {
    grid-template-columns: 1fr 4fr;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;

    @include _tablet {

    }

    @include _desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      border-right: 1px solid $color-6;
    }
  }
}

.filters {
  display: none;

  @include _desktop {
    display: block;
  }
}

.pagination {
  margin: 40px 0 50px 0;
  justify-content: flex-end;
}

.review {

  &-title {
    margin-bottom: 15px;

    @include _desktop {
      margin-bottom: 30px;
    }
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 35px;
    margin-bottom: 30px;

    @include _desktop {
      margin-bottom: 50px;
    }
  }

  &-count {
    white-space: nowrap;
  }

  &-item {
    margin-bottom: 30px;

    @include _desktop {
      margin-bottom: 50px;
    }
  }
}

.seo-text {
  margin: 70px 0;
}