@import './assets/scss/vars';
@import './assets/scss/mixins';

.column {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include _tablet {
    flex-direction: column;
  }
}

.label{
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-text-2;

  @include _desktop {
    font-size: 10px;
    color: $color-gray;
  }
}

.value {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;

  @include _desktop {
    font-size: 16px;
  }
}