@import 'assets/scss/global/vars';

.copy-referral-link {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  transition: color 0.4s;

  img {
    filter: $filter-color-gray;
  }

  &:hover {
    img {
      filter: $filter-color-white;
    }
  }
}