@import './assets/scss/vars';
@import './assets/scss/mixins';

.note {
  &-wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 10px;
    grid-gap: 10px;
    background-color: $color-bg-3;
    border-radius: $radiusBtn;
    line-height: 135%;

    &.green {
      background: scale-color($color-green-55, $whiteness: 70%);
    }

    &.orange {
      background: scale-color($color-orange, $whiteness: 90%);
    }

    &.red {
      background: scale-color($color-red, $whiteness: 90%);
    }

    .handler {
      opacity: 0.4;
      cursor: pointer;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-controls {
    &-wrapper {
      display: flex;
      align-items: center;
      margin-left: auto;

    }
  }
}

.btn-controls {
  display: none;
  background: $color-bg;

  @include _tablet {
    display: block;
  }

  &.active {
    color: $color-text-6;
  }
}

.content {
  width: 100%;
  padding: 10px 0;
}