@import './assets/scss/vars';
@import './assets/scss/mixins';

.thumbnail {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  height: 230px;
  grid-gap: 5px;
  padding: 0 15px;
  overflow-x: scroll;

  @include _desktop {
    grid-auto-flow: row;
    grid-auto-columns: 85px;
    grid-gap: 3px;
    height: 530px;
    padding: 0 3px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    @include _scrollbar;
  }

  &-btn {
    position: relative;
    width: auto;
    height: 230px;
    border: 1px solid $color-5;
    border-radius: $radius;
    overflow: hidden;

    @include _desktop {
      width: 85px;
      height: 85px;
    }
  }

  &-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    object-fit: contain;

    @include _desktop {
      position: absolute;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @include _desktop {
    grid-template-columns: 93px 1fr;
    grid-gap: 20px;
    height: 530px;
  }
}

.main {
  display: none;

  @include _desktop {
    display: block;
    position: relative;
    width: 100%;
    height: 530px;
    border-radius: $radius;
    overflow: hidden;
  
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: $color-5;
    }
  }
}